*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator{
    border:1px solid #717377;
    padding:20px;
    border-radius:15px;
    background:transparent;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width:330px;
    border:none;
    background:transparent;
    padding:20px;
    text-align:right;
    font-size:40px;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.1);
    cursor:pointer;
    color:white;
    margin-bottom:20px;
}

input::placeholder{
    color:#fff
}

button{
    border:none;
    width:70px;
    height:70px;
    margin:5px;
    font-size:20px;
    border-radius:50%;
    background:transparent;
    color:#ffff;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1);
    cursor:pointer;
    font-weight:600;
}

button:hover{
    box-shadow:8px 8px 15px rgba(6, 176, 11, 0.4);
}

.equalbtn{
    background:#fb7c14;
}

.operators{
    color:green;
}

@media(max-width:450px) {
    .calculator{
        height:100vh;
        width:100%;
        border:none;
        box-shadow:none;
    }

    .calculator div{
        text-align:center;
    }

    input{
        width:100%;
        font-size:60px;
    }

    button{
        width:75px;
        height:75px;
        font-size:30px;
    }

    @media(max-width:393px) {
        .calculator{
            padding:10px;
        }

        button{
            width:70px;
            height:70px;
            font-size:30px;
        }
    }

    @media(max-width:352px) {
        button{
            width:65px;
            height:65px;
            font-size:20px;
        }
    }

    @media(max-width:333px) {
        button{
            width:55px;
            height:55px;
        }
    }
    
    @media(max-width:294px) {
        button{
            width:50px;
            height:50px;
        }
    }
}